
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_MainLayout.cshtml";
}


<section>
    <div class="container">
        <div class="order-success error-page">
            <img src="~/Content/images/error-img.jpg" alt="">
            <h3>Oops! <span>Sorry, </span> We are work for this.</h3>
            <p>
                We’re sorry but the page you are looking for does nor exist.<br>
                You could return to  <a href="/Default/Index">homepage</a>
            </p>
        </div>
    </div>
</section>



